			<label for='name' class='form-label'> Name: </label>
			<input id='name' name='name' type='text' class='addNewTextbox'></br>
			<label for='borough' class='form-label'> Borough: </label>
			<select id='borough' name='borough' class='addNewDropdown' placeholder='Borough'>
				<option value='Manhattan'>Manhattan</option>
				<option value='Brooklyn'>Brooklyn</option>
				<option value='Queens'>Queens</option>
				<option value='Bronx'>Bronx</option>
				<option value='Staten Island'>Staten Island</option>
			</select>