			<label class='form-label'> Buidling #: </label>
			<input id='building' name='building' type='text' class='addNewTextbox'>
			<label class='form-label'> Street: </label>
			<input id='street' name='street' type='text' class='addNewTextbox'><br>
			<label class='form-label'> Zip Code: </label>
			<input id='zipCode' name='zipCode' type='text' class='addNewTextbox'></br>
			<label class='form-label'> Description: </label>
			<textarea id='description' name='description' type='text' class='addNewTextArea'></textarea><br>
			<label for='addedBy' class='form-label'> Added By: </label>
			<input id='addedBy' name='addedBy' type='text' class='addNewTextbox'></br>
			<input name='submit' type='submit' value='submit'>
		</form>