

	<footer>
		&copy Kyle Combs 2018<br>
		combskyle@gmail.com
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaTY5FdfkJgHZpvxf9OwEdN6bRlgeS7TY&libraries=places&callback=activatePlacesSearch" async defer></script>
	<script src="/index.js"></script>

</body>
</html>