			<label class='form-label'> Address: </label>
			<input id='address' name='address' type='text' class='addNewTextbox'></br>
			<label class='form-label'> Phone #: </label>
			<input id='phone' name='phone' type='text' class='addNewTextbox'></br>
			<label class='form-label'> Website: </label>
			<input id='webUrl' name='webUrl' type='text' class='addNewTextbox'></br>
			<label class='form-label'> Photo Link: </label>
			<input id='photoLink' name='photoLink' type='text' class='addNewTextbox'></br>
			<label class='form-label'> Description: </label>
			<textarea id='description' name='description' type='text' class='addNewTextArea'></textarea><br>
			<label for='addedBy' class='form-label'> Added By: </label>
			<input id='addedBy' name='addedBy' type='text' class='addNewTextbox'></br>
			<input name='submit' type='submit' value='submit'>
		</form>