			<input id="address" name="address" type="text" placeholder="Address" required></br>
			<input id="phone" name="phone" type="text" placeholder="Phone #"></br>
			<input id="webUrl" name="webUrl" type="text" placeholder="Website"></br>
			<input id="photoLink" name="photoLink" type="text" placeholder="Photo Link"></br>
			<textarea id="description" name="description" type="text" placeholder="Brief Description" required></textarea><br>
			<input name="submit" type="submit" value="Submit">
		</form>