	<footer>
		&copy Kyle Combs 2018<br>
		combskyle@gmail.com
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/index.js"></script>

</body>
</html>