<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>Kyle's Neighborhood Guide</title>
	<meta name="description" content="Interactive Neighborhood Guide for the East Village">

	<link rel="shortcut icon" type="image/png" href="/images/favicon.png">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body>

	  <header>
	    <h2><a href="/">Kyle's Neighborhood Guide</a></h2>
	    <nav>
	      <ul>
	        <li>
	          <a href="/restaurants" title="Restaurants">Restaurants</a>
	        </li>
	        <li>
	          <a href="/nightlife" title="Nightlife">Nightlife</a>
	        </li>
	        <li>
	          <a href="/services" title="Services">Services</a>
	        </li>
	        <li>
	        	<% if (user) {%>
	          	<a class="btn" href="/logout" title="Sign Out">Sign Out</a>
	          <% } else { %>
	          	<a class="btn" href="/login" title="Register / Log In">Register/Log In</a>
	          <% }; %>
	        </li>
	      </ul>
	    </nav>

<!-- 	    <%= user %> -->

	  </header>

	<main>
		<div class="cover">