@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

* {
  box-sizing: border-box;
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background: url('./images/bgphotos/mike-chavarri-553396-unsplash-low.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #0a0a0b;
  overflow: hidden;
}

ul, nav{
  list-style: none;
  padding: 0;
}

header a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}

header a:hover {
  opacity: 1;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  margin: 0 0 1.5rem;
  text-shadow: 2px 2px 5px black; 
}

h4 {
  margin-top: -15px;
  margin-bottom: 7px;
}


#addNewLink {
  color: #fff;
  font-size: 1.3rem;
  text-shadow: 1px 1px 3px black;
  text-align: center; 
  line-height: 1.5; 
}

#addNewLink a {
  text-decoration: none;
  color: #fff;
}

#addNewLink a:hover {
  color: #ef3f5a;
  text-shadow: none;
  font-weight: 700;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px 100px 0;
}

header nav ul {
  display: flex;
}

header nav li{
  margin: 0 15px;
}

header nav li:first-child{
  margin-left: 0; 
}

header nav li:last-child{
  margin-right: 0;  
}

a.btn {
  color: #fff;
  padding: 10px;
  border: 1px solid rgba(255,255,255,0.5);
  transition: all 0.2s;
}

a.btn:hover {
  background: #d73851;
  border: 1px solid #d73851;
  color: #fff;
}

.formWrapper {
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  text-align: center;
}

.addNewForm {
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  text-align: center;
}

#search-term {
  width: 300px;
}

.listing {
  display: inline-block;
  background-color: rgba(255,255,255,0.8);
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 450px;
  margin: 10px;
  font-size: .9em;
  font-weight: 550;
}

.listing a {
  text-decoration: none;
  color: #0586c1;
}

.center-cropped {
  width: 120px;
  height: 120px;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
  margin-left: 10px;
  float: right;
}

.full-list {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.webUrl {
  font-size: .8em;
}

.cover  {
  height: 85vh;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index-nav {
  display: flex;
  width: 90%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.main-icon {
  max-width: 40%;
  filter: drop-shadow(5px 5px 5px white);
}

.nav-box {
  display: inline;
  width: 33%;
  text-align: center;
  filter: invert(100%);
  align-content: center;
  color: black;
  text-shadow: 1px 1px 5px white;
}

#photoCred {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 25px 100px;
  color: #fff;
}

#photoCred a {
  text-decoration: none;
  color: #fff;
}

.search-form input[type="submit"] {
  background: #ef3f5a;
  border: 1px solid #ef3f5a;
  color: #fff;
  padding: 0 30px;
  cursor: pointer;
  transition: all 0.2s;
}

.search-form input[type="submit"]:hover {
  background: #d73851;
  border: 1px solid #d73851;
}

.search-form {
  display: flex;
/*  z-index: 10;*/
  position: relative;
  width: 500px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.search-form > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
}

.search-form input[type="search"] {
  flex-basis: 500px;
}

.addNewForm {
  z-index: 10;
  position: relative;
  width: 300px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.addNewForm input[type="submit"]:hover, .login input[type="submit"]:hover {
  background: #d73851;
  border: 1px solid #d73851;
}

.addNewForm input[type="text"], select, .login input[type="text"] {
  border: 0;
  width: 300px;
  height: 30px;
  padding: 5px;
  margin-bottom: 5px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.addNewForm textarea {
  border: 0;
  width: 300px;
  height: 150px;
  padding: 5px;
  margin-bottom: 5px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.addNewForm input[type="submit"], .login input[type="submit"] {
  width: 150px;
  height: 40px;
  background: #ef3f5a;
  border: 1px solid #ef3f5a;
  color: #fff;
  padding: 0 30px;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
  margin-top: 5px;
}

.addNewForm input[type="submit"]:hover {
  background: #d73851;
  border: 1px solid #d73851;
}

.addNewForm > * {
  border: 0;
  background: #fff;
  font-size: 1rem;
}

.single-listing {
  display: inline-block;
  max-width: 700px;
  background-color: rgba(255,255,255,0.8);
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  font-size: 1.1em;
  font-weight: 550;
}

.single-listing h1 {
  color: #000;
  text-shadow: none;
}

.center-cropped-single {
  max-width: 250px;
  max-height: 250px;
  border-radius: 5px;
  margin-left: 10px;
  float: right;
}

.single-listing a {
  text-decoration: none;
  color: #0586c1;
}

.single-listing h2 {
  margin-top: -30px;
}

.commentSection li {
  border-top: 1px solid black;
  padding: 10px;
  display: block;
  vertical-align: top;
}

.commentUser {
  font-size: .8em;
}

.commentDate {
  font-size: .6em;
  float: right;
  vertical-align: top;
}

.comment {
  font-size: 1em;
  font-style: italic;
  margin-left: 5px;
  margin-top: 7px;
}

.addComment input[type="submit"] {
  width: 70px;
  height: 30px;
  background: #ef3f5a;
  border: 1px solid #ef3f5a;
  color: #fff;
  padding: 5px;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
  margin-top: 5px;
  font-size: .8em;
}

.addComment input[type="submit"]:hover {
  background: #d73851;
  border: 1px solid #d73851;
}

.deleteBtn {
  color: #fff;
  padding: 10px;
  border: 1px solid rgba(255,255,255,0.5);
  transition: all 0.2s;
  background: transparent;
}

.deleteBtn:hover {
  background: #d73851;
  border: 1px solid #d73851;
  color: #fff;
}

textarea#comment {
  width: 80%;
  height: 75px;
  margin-top: -18px;
}


.login {
  width: 400px;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  font-size: 1.1em;
  font-weight: 550;
}

.login h1 {
  color: black;
  text-shadow: none;
}

.login a {
  text-decoration: none;
  color: #0586c1;
}

.deleteComment {
  text-decoration: none;
  float: right;
  color: gray;
  font-size: .5em;
  margin-left: 5px;
}



























