@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

* {
  box-sizing: border-box;
  text-decoration: none;
}

html, body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  background: url('./images/bgphotos/mike-chavarri-553396-unsplash-low.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #0a0a0b;
  height: 100%;
}

#container {
  min-height: 100%;
  position: relative;
}

#centered-container {
  height: 100%;
  position: relative;
}

#header {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px 100px 0;
}

#main  {
  width: 100%;
  position: relative;
  margin: auto;
  padding: 20px 50px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#centered-main  {
  width: 100%;
  height: 90%;
  position: relative;
  margin: auto;
  padding: 20px 50px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
/*  overflow: hidden;
  overflow-y: scroll;*/
}

#footer {
  position: absolute;
  bottom: 0;
  display: flex;
  float: right;
  width: 100%;
  height: 60px;
  padding-right: 100px;
  padding-left: 100px;
  color: #fff;
}

#footer ul {
  width: 100%;
}

#footer ul li:first-child {
  float: left;
}

#footer ul li:last-child {
  float: right;
}

#header a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}

#header a:hover {
  opacity: 1;
}

#footer a {
  text-decoration: none;
  color: #fff;
}

#header nav ul {
  display: flex;
}

#header nav li{
  margin: 0 15px;
}

#header nav li:first-child{
  margin-left: 0; 
}

#header nav li:last-child{
  margin-right: 0;  
}

ul, nav{
  list-style: none;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  margin: 0 0 1.5rem;
  text-shadow: 2px 2px 5px black; 
}

h4 {
  margin-top: -15px;
  margin-bottom: 7px;
}


#addNewLink {
  color: #fff;
  font-size: 1.2rem;
  text-shadow: 1px 1px 3px black;
  text-align: center; 
  line-height: 1.4; 
}

#addNewLink a {
  text-decoration: none;
  color: #fff;
}

#addNewLink a:hover {
  color: #ef3f5a;
  text-shadow: none;
  font-weight: 700;
}

a.btn {
  color: #fff;
  padding: 10px;
  border: 1px solid rgba(255,255,255,0.5);
  transition: all 0.2s;
}

a.btn:hover {
  background: #d73851;
  border: 1px solid #d73851;
  color: #fff;
}

.formWrapper {
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  text-align: center;
}

.addNewForm {
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  text-align: center;
}

#search-term {
  width: 300px;
}

.listing {
  display: block;
  background-color: rgba(255,255,255,0.8);
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 450px;
  margin: 10px auto;
  font-size: .7em;
  font-weight: 550;
}

.listing a {
  text-decoration: none;
  color: #0586c1;
}

.center-cropped {
  width: 120px;
  height: 120px;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
  margin-left: 10px;
  float: right;
}

.full-list {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.webUrl {
  font-size: .8em;
}

.index-nav {
  display: flex;
  width: 90%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.main-icon {
  max-width: 40%;
  filter: drop-shadow(5px 5px 5px white);
}

.nav-box {
  display: inline;
  width: 33%;
  text-align: center;
  filter: invert(100%);
  align-content: center;
  color: black;
  text-shadow: 1px 1px 5px white;
}

.search-form input[type="submit"] {
  background: #ef3f5a;
  border: 1px solid #ef3f5a;
  color: #fff;
  padding: 0 30px;
  cursor: pointer;
  transition: all 0.2s;
}

.search-form input[type="submit"]:hover {
  background: #d73851;
  border: 1px solid #d73851;
}

.search-form {
  display: flex;
/*  z-index: 10;*/
  position: relative;
  width: 500px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.search-form > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
}

.search-form input[type="search"] {
  flex-basis: 500px;
}

.addNewForm {
/*  z-index: 10;*/
  position: relative;
  width: 300px;
}

.addNewForm input[type="submit"]:hover, .login input[type="submit"]:hover {
  background: #d73851;
  border: 1px solid #d73851;
}

.addNewForm input[type="text"], select, .login input[type="text"] {
  border: 0;
  width: 300px;
  height: 30px;
  padding: 5px;
  margin-bottom: 5px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.addNewForm textarea {
  border: 0;
  width: 300px;
  height: 150px;
  padding: 5px;
  margin-bottom: 5px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.addNewForm input[type="submit"], .login input[type="submit"] {
  width: 150px;
  height: 40px;
  background: #ef3f5a;
  border: 1px solid #ef3f5a;
  color: #fff;
  padding: 0 30px;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
  margin-top: 5px;
}

.addNewForm input[type="submit"]:hover {
  background: #d73851;
  border: 1px solid #d73851;
}

.addNewForm > * {
  border: 0;
  background: #fff;
  font-size: 1rem;
}

.single-listing {
  display: inline-block;
  max-width: 700px;
  background-color: rgba(255,255,255,0.8);
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  font-size: 1.1em;
  font-weight: 550;
}

.single-listing h1 {
  color: #000;
  text-shadow: none;
}

.center-cropped-single {
  max-width: 250px;
  max-height: 250px;
  border-radius: 5px;
  margin-left: 10px;
  float: right;
}

.single-listing a {
  text-decoration: none;
  color: #0586c1;
}

.single-listing h2 {
  margin-top: -30px;
}

.commentSection li {
  border-top: 1px solid black;
  padding: 10px;
  display: block;
  vertical-align: top;
}

.commentUser {
  font-size: .8em;
}

.commentDate {
  font-size: .6em;
  float: right;
  vertical-align: top;
}

.comment {
  font-size: 1em;
  font-style: italic;
  margin-left: 5px;
  margin-top: 7px;
}

.addComment input[type="submit"] {
  width: 70px;
  height: 30px;
  background: #ef3f5a;
  border: 1px solid #ef3f5a;
  color: #fff;
  padding: 5px;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
  margin-top: 5px;
  font-size: .8em;
}

.addComment input[type="submit"]:hover {
  background: #d73851;
  border: 1px solid #d73851;
}

.deleteBtn, .editBtn {
  color: #fff;
  padding: 10px;
  border: 1px solid rgba(255,255,255,0.5);
  transition: all 0.2s;
  background: transparent;
  margin: 0 5px;
}

.deleteBtn:hover, .editBtn:hover {
  background: #d73851;
  border: 1px solid #d73851;
  color: #fff;
}

.adminButtons{
  display: flex;
}

.userButtons {
  display: contents;
}

.logoutBtn {
  background: #ef3f5a;
  border: 1px solid #ef3f5a;
  color: #fff;
  padding: 10px 30px;
  transition: all 0.2s;
  margin: 0 5px;
}

.logoutBtn:hover {
  background: #d73851;
  border: 1px solid #d73851;  
}

.deleteAcctBtn {
  color: #fff;
  padding: 10px;
  border: 1px solid rgba(255,255,255,0.5);
  transition: all 0.2s;
  background: transparent;
  margin: 20px 5px;
  font-size: .5em;
}

.deleteAcctBtn:hover {
  background: #d73851;
  border: 1px solid #d73851;
  color: #fff;
}

textarea#comment {
  width: 80%;
  height: 75px;
  margin-top: -18px;
}


.login {
  width: 400px;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  font-size: 1.1em;
  font-weight: 550;
}

.login h1 {
  color: black;
  text-shadow: none;
}

.login a {
  text-decoration: none;
  color: #0586c1;
}

.deleteComment {
  text-decoration: none;
  float: right;
  color: gray;
  font-size: .5em;
  margin-left: 5px;
}

@media only screen and (max-width: 1024px) {

  #header {
    font-size: .9em;
    padding: 10px 50px 0;
  }

  #header nav a.btn {
    padding: 7px;
  }

  #addNewLink {
    font-size: 1em;
    margin-top: -10px;
  }

  h1 {
    font-size: 2em
  }

  .listing {
    width: 400px;
    font-size: 0.7em;
  }

  .search-form {
    width: 450px;
  }

  .addNewForm input[type="submit"], .login input[type="submit"] {
    width: 125px;
  }

  .single-listing {
    width: 575px;
    font-size: 1em;
  }

  .center-cropped {
    max-width: 100px;
    max-height: 100px;
  }

  .center-cropped-single {
    max-width: 200px;
    max-height: 200px;
  }

}

@media only screen and (max-width: 950px) {

  #header {
    font-size: .7em;
  }

  #header nav a.btn {
    padding: 5px;
  }

  #footer {
    font-size: .8em;
    padding-left: 70px;
    padding-right: 70px;
  }

  .listing {
    max-width: 350px;
    font-size: .6em;
  }

}

@media only screen and (max-width: 825px) {

  #main {
    padding: 20px 20px;
  }

  #header h2 {
    text-align: center;
    font-size: 2em;
  }

  #header nav {
    display: flex;
  }

  #header ul {
    margin: auto;
  }
  .listing {
    max-width: 325px;
  }

  .center-cropped {
    max-width: 90px;
    max-height: 90px;
  }


@media only screen and (max-width: 768px) {

  .listing {
    max-width: 300px;
  }
}


@media only screen and (max-width: 650px) {

  #header {
    display: block;
    margin: auto;
  }

  #header nav {
    font-size: .5em;
  }

  #main {
    margin-top: 10px;
  }

  #main h1 {
    font-size: 1.5em;
    text-shadow: 1px 1px 3px black;
  }

  #header nav a.btn {
    padding: 3.5px;
  }

  #addNewLink {
    font-size: .8em;
    margin-top: -20px;
  }

  .listing {
    width: 90%;
  }

  .listing h4 {
    margin-top: -10px;
  }

  #footer {
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: .7em;
  }

  .center-cropped {
    max-height: 80px;
    max-width: 80px;
  }

}

@media only screen and (max-width: 375px) {

  #header h2 {
    font-size: 1.6em;
  }

  #main h1 {
    font-size: 1.2em;
    margin-top: -20px;
  }

  #addNewLink {
    font-size: .6em;
    margin-top: -23px;
    margin-bottom: -10px;
  }

  #header nav {
    margin-top: -7px;
  }

  #header nav li {
    margin: 0 10px;
  }

  #footer {
    font-size: .5em;
    height: 30px;
  }

  #header nav a.btn {
    padding: 3px;
  }

}























