<% include ../partials/head %>

<body>
	<header role="banner">
		<h1>Neighborhood Guide - Add New Restaurant</h1>
	</header>

	<main role="main">

		<% include ../partials/nav %>

		<div id="formWrapper">
			<div class="instructions">Search for the restaurant you'd like to add:</div><br>
			<form id="search-form">
				<input type="text" placeholder="eg. Bob's Diner" id="search-term" aria-label="restaurant-name">
				<input type="submit" name="submit">
			</form>
		</div>

		<hr width="90%">

		<form class="addNewForm" method="post" action="/restaurants">

		<% include ../partials/add-new-form-part-1 %>

			<label for="cuisine" class="form-label"> Cuisine: </label>
			<select id="cuisine" name="cuisine" class="addNewDropdown" placeholder="Cuisine" required>
				<option value="">-- Cuisine --</option>
				<option value="CoffeeShop">CoffeeShop</option>
				<option value="Middle Eastern">Middle Eastern</option>
				<option value="Seafood">Seafood</option>
				<option value="Vegetarian">Vegetarian</option>
				<option value="American">American</option>
				<option value="Pizza">Pizza</option>
				<option value="Chinese">Chinese</option>
				<option value="Italian">Italian</option>
				<option value="French">French</option>
				<option value="Korean">Korean</option>
				<option value="Japanese">Japanese</option>
				<option value="Indian">Indian</option>
				<option value="Vietnamese">Vietnamese</option>
				<option value="Other">Other</option>
			</select><br>	

		<% include ../partials/add-new-form-part-2 %>

	</main>

		<% include ../partials/add-new-footer %>