<% include ../partials/centered-head %>



		<h1>Add A New Restaurant:</h1>

<% if (user) {%>

	<form class="search-form">
      <input type="search" placeholder="What restaurant you like to add?" id="search-term" aria-label="restaurant-search-term">
      <input type="submit" value="Auto-Fill">
    </form>

 		<p>

		<form class="addNewForm" method="post" action="/restaurants">

			<input id="name" aria-label="Name" name="name" type="text" class="addNewTextbox" placeholder="Name" maxlength="50" required><br>

			<select id="cuisine" name="cuisine" aria-label="Cuisine Type" class="addNewDropdown" placeholder="Cuisine" required>
				<option value="">-- Cuisine --</option>
				<option value="CoffeeShop">CoffeeShop</option>
				<option value="Mexican">Mexican</option>
				<option value="Middle Eastern">Middle Eastern</option>
				<option value="Seafood">Seafood</option>
				<option value="Vegetarian">Vegetarian</option>
				<option value="American">American</option>
				<option value="Pizza">Pizza</option>
				<option value="Chinese">Chinese</option>
				<option value="Italian">Italian</option>
				<option value="French">French</option>
				<option value="Korean">Korean</option>
				<option value="Japanese">Japanese</option>
				<option value="Indian">Indian</option>
				<option value="Vietnamese">Vietnamese</option>
				<option value="Delicatessen">Delicatessen</option>
				<option value="German">German</option>
				<option value="Other">Other</option>
			</select><br>	
 
		<% include ../partials/add-new-form-part-2 %>
    
    <% } else { %>

    	<div class="login">
		<h1>Login</h1>

			<%- messages("message", locals) %>

		<form class="loginForm" method="post" action="/auth/login">
			<input id="username" name="username" type="text" placeholder="Username" required></br>
			<input id="password" name="password" type="password" placeholder="Password" required></br>
			<input name="next" type="hidden" value="../restaurants/add-new">

			<input name="submit" type="submit" value="Submit">
		</form>

		<h2>Don't have an account?<br>
		<a href="/signup">Sign Up</a></h2>


	</div>

    <% } %>

<% include ../partials/add-new-footer %>