<% include ../partials/head %>

		<h1>Add A New Nightlife:</h1>

		<form class="search-form">
      <input type="search" placeholder="What restaurant you like to add?" id="search-term" aria-label="restaurant-search-term">
      <input type="submit" value="Auto-Fill">
    </form>

 		<p>

		<form class="addNewForm" method="post" action="/restaurants">

			<input id="name" name="name" type="text" class="addNewTextbox" placeholder="Name" required><br>

			<select id="cuisine" name="cuisine" class="addNewDropdown" placeholder="Cuisine" required>
				<option value="">-- Cuisine --</option>
				<option value="CoffeeShop">CoffeeShop</option>
				<option value="Middle Eastern">Middle Eastern</option>
				<option value="Seafood">Seafood</option>
				<option value="Vegetarian">Vegetarian</option>
				<option value="American">American</option>
				<option value="Pizza">Pizza</option>
				<option value="Chinese">Chinese</option>
				<option value="Italian">Italian</option>
				<option value="French">French</option>
				<option value="Korean">Korean</option>
				<option value="Japanese">Japanese</option>
				<option value="Indian">Indian</option>
				<option value="Vietnamese">Vietnamese</option>
				<option value="Other">Other</option>
			</select><br>	

		<% include ../partials/add-new-form-part-2 %>

<% include ../partials/add-new-footer %>