<% include ../partials/head %>

<body>
	<header role='banner'>
		<h1>Neighborhood Guide - Add New Nightlife</h1>
	</header>

	<main role='main'>
		<div class='nav'>
			<a href='/restaurants' class='box restaurantIcon'>
				<img src="/images/grid-world.png" class='main-icon'>
				<h2>Restaurants</h2>
			</a>
			<a href='/nightlife' class='box nightlifeIcon'>
				<img src="/images/grid-world.png" class='main-icon'>
				<h2>Nightlife</h2>
			</a>
			<a href='/services' class='box servicesIcon'>
				<img src="/images/grid-world.png" class='main-icon'>
				<h2>Services</h2>
			</a>
		</div> 

		<div id="formWrapper">
			<div class="instructions">Search for the nightlife you'd like to add:</div><br>
			<form id="search-form">
				<input type="text" placeholder="Bob's Diner" id="search-term" aria-label="nightlife-name">
				<input type="submit" name="submit">
			</form>
		</div>

		<hr width='90%'>

		<form class='addNewForm' method='post' action='/nightlife'>

		<% include ../partials/add-new-form-part-1 %>

			<label for='typeOfVenue' class='form-label'> Type of Venue: </label>
			<select id='typeOfVenue' name='typeOfVenue' class='addNewDropdown'>
				<option value=''></option>
				<option value='Dive Bar'>Dive Bar</option>
				<option value='Cocktail Bar'>Cocktail Bar</option>
				<option value='Nightclub'>Nightclub</option>
				<option value='Live Music Venue'>Live Music Venue</option>
				<option value='Lounge'>Lounge</option>
				<option value='Hotel Bar'>Hotel Bar</option>
				<option value='Pub'>Pub</option>
				<option value='Other'>Other</option>
			</select><br>	

		<% include ../partials/add-new-form-part-2 %>

	</main>

		<% include ../partials/add-new-footer %>