<% include ../partials/centered-head %>

		<h1>Add A New Service:</h1>

		<form class="search-form">
      <input type="search" placeholder="What service you like to add?" id="search-term" aria-label="service-search-term">
      <input type="submit" value="Auto-Fill">
    </form>

 		<p>

		<form class="addNewForm" method="post" action="/services">

			<input id="name" name="name" type="text" class="addNewTextbox" placeholder="Name" required><br>

			<select id="typeOfService" name="typeOfService" class="addNewDropdown">
				<option value="">-- Type of Service --</option>
				<option value="Grocery Store">Grocery Store</option>
				<option value="Liquor Store">Liquor Store</option>
				<option value="Drugstore">Drugstore</option>
				<option value="Laundry / Dry Cleaner">Laundry / Dry Cleaner</option>
				<option value="Massage">Massage</option>
				<option value="Bodega (Convenience Store)">Bodega (Convenience Store)</option>
				<option value="Hospital / Clinic">Hospital / Clinic</option>
				<option value="Other">Other</option>
			</select><br>	

		<% include ../partials/add-new-form-part-2 %>

<% include ../partials/add-new-footer %>