<% include ../partials/head %>

	  	<h1 id="index-text">What can I help you find today?</h1>

			<% include ../partials/new-nav %>


	    <div id="madeby">
	      <span>
	        Photo by <a href="https://unsplash.com/@mikechv" target="_blank">Mike Chavari</a>
	      </span>
	    </div>

<% include ../partials/footer %>