<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8">
	<meta name='viewport' content="width=device-width">

	<title>Neighborhood Guide</title>
	<meta name="description" content="Interactive Neighborhood Guide for the East Village">

	<link rel="stylesheet" type="text/css" href="./main.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
</head>

<body>
	<header role='banner'>
		<h1>Neighborhood Guide</h1>
		<p id='site-description'>Welcome to the New York City!  This is a handy little guide to help you find whatever it is you're looking for while you're here.  Also, if you discover something cool that you want to share with future guests, please add it to the Guide!
	</header>

	<main role='main'>
		<div class='nav'>
			<a href='./restaurants' class='box restaurantIcon'>
				<img src="./images/grid-world.png" class='main-icon'>
				<h2>Restaurants</h2>
			</a>
			<a href='./nightlife' class='box nightlifeIcon'>
				<img src="./images/grid-world.png" class='main-icon'>
				<h2>Nightlife</h2>
			</a>
			<a href='./services' class='box servicesIcon'>
				<img src="./images/grid-world.png" class='main-icon'>
				<h2>Services</h2>
			</a>
		</div>
	</main>

	<footer>
		&copy Kyle Combs 2018<br>
		combskyle@gmail.com
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="./index.js"></script>

</body>
</html>