<% include ../partials/head %>

	<div class="login">
		<h1>Sign Up</h1>

		<form class="signupForm" method="post" action="/users">
			<input id="username" name="username" type="text" placeholder="Email Address" required></br>
			<input id="password" name="password" type="text" placeholder="Password" required></br>
			<input id="firstName" name="firstName" type="text" placeholder="First Name" required></br>
			<input id="lastName" name="lastName" type="text" placeholder="Last Name"></br>
			<input id="hometown" name="hometown" type="text" placeholder="Hometown" required></br>
			<input name="submit" type="submit" value="Submit">
		</form>

		<h2>Already registered?<br>
		<a href="/login">Login</a></h2>
		
	</div>

<% include ../partials/footer %>

