<% include ../partials/centered-head %>

	<h1><%= user.username %></h1>

	<%- messages("message", locals) %>

	<% if(user) {%>

		<div class="userButtons">
	   	<a href="/logout"><span class="logoutBtn">Log Out</span></a>
	   	<form method="POST" action="/users/<%=user.id%>?_method=DELETE">
        <input class="deleteAcctBtn" type="submit" value="Delete Account"></input>
      </form>
	  </div>

  <%}%>

<% include ../partials/add-new-footer %>